# Ignore everything
*

# But not these
!modules/
!modules/**
!README.md
!README_JP.md
!CHANGELOG.md
!LICENSE
!.gitignore
!images/
!images/**

# Ignore Python compiled files inside allowed directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore releases directory
releases/
